In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt 
import seaborn as sns
import scipy.stats as stats

In [2]:
df=pd.read_csv('Sales_add.csv')

In [3]:
df.head()

,Month,Region,Manager,Sales_before_digital_add(in $),Sales_After_digital_add(in $)
0,Month-1,Region - A,Manager - A,132921,270390
1,Month-2,Region - A,Manager - C,149559,223334
2,Month-3,Region - B,Manager - A,146278,244243
3,Month-4,Region - B,Manager - B,152167,231808
4,Month-5,Region - C,Manager - B,159525,258402

In [4]:
df.isna().sum()

Month                             0
Region                            0
Manager                           0
Sales_before_digital_add(in $)    0
Sales_After_digital_add(in $)     0
dtype: int64

# ● The company wishes to clarify whether there is any increase in sales after stepping into digital marketing

H0: there is no increase in sales after stepping into digital marketing

H1: there is increase in sales after stepping into digital marketing

In [5]:
stats.ttest_rel(df['Sales_After_digital_add(in $)'],df['Sales_before_digital_add(in $)'],alternative='greater')

Ttest_relResult(statistic=12.09070525287017, pvalue=3.168333502287889e-11)

In [6]:
before = df["Sales_before_digital_add(in $)"]

In [7]:
before.head()

0    132921
1    149559
2    146278
3    152167
4    159525
Name: Sales_before_digital_add(in $), dtype: int64

In [8]:
before.describe()

count        22.000000
mean     149239.954545
std       14844.042921
min      130263.000000
25%      138087.750000
50%      147444.000000
75%      157627.500000
max      178939.000000
Name: Sales_before_digital_add(in $), dtype: float64

In [9]:
after = df["Sales_After_digital_add(in $)"]

In [10]:
after.describe()

count        22.000000
mean     231123.727273
std       25556.777061
min      187305.000000
25%      214960.750000
50%      229986.500000
75%      250909.000000
max      276279.000000
Name: Sales_After_digital_add(in $), dtype: float64

Since the p value is 3.168333502287889e-11 we accept alternative hypothesis. ie, there is increase in sales after stepping into digital marketing.While in second case ,considering mean also we come across the same conclusion.

# ● The company needs to check whether there is any dependency between the features “Region” and “Manager”.

H0:there is no dependency between the features “Region” and “Manager”

H1:there is dependency between the features “Region” and “Manager”

In [17]:
crosstab=pd.crosstab(df['Region'],df['Manager'])

In [18]:
crosstab

Manager     Manager - A  Manager - B  Manager - C
Region
Region - A            4            3            3
Region - B            4            1            2
Region - C            1            3            1

In [24]:
stats.chi2_contingency(crosstab)

(3.050566893424036,
 0.5493991051158094,
 4,
 array([[4.09090909, 3.18181818, 2.72727273],
        [2.86363636, 2.22727273, 1.90909091],
        [2.04545455, 1.59090909, 1.36363636]]))

Here,p value is greater than .5 so rejecting alternative hypothesis and accepting null hypothesis.So we can conclude that there is no dependency between the features “Region” and “Manager”.